<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [showImage]="true"
            [imageSrc]="'/assets/html.png'"
            [imageHeight]="65"
            [imageWidth]="65"
            [outerStrokeGradient]= true
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#4882c2'"
            [outerStrokeGradientStopColor]="'#53a9ff'"
            [innerStrokeColor]="'#e7e8ea'"
            [animation]="true"
            [animationDuration]="800"
            [innerStrokeWidth]= 10
            [animationDuration]= 1000
            [showUnits]= false
            [showBackground]= false
            [clockwise]= false
            [startFromZero]= false
            [lazy]= false
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [showImage]="true"
            [imageSrc]="'/assets/CSS.png'"
            [imageHeight]="70"
            [imageWidth]="50"
            [outerStrokeGradient]= true
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#4882c2'"
            [outerStrokeGradientStopColor]="'#53a9ff'"
            [innerStrokeColor]="'#e7e8ea'"
            [animation]="true"
            [animationDuration]="800"
            [innerStrokeWidth]= 10
            [showSubtitle]=false
            [animationDuration]= 1000
            [showUnits]= false
            [showBackground]= false
            [clockwise]= false
            [startFromZero]= false
            [lazy]= false
        ></circle-progress>
        </div>
 <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [showImage]="true"
            [imageSrc]="'/assets/js-brands.svg'"
            [imageHeight]="60"
            [imageWidth]="50"
            [outerStrokeGradient]= true
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#4882c2'"
            [outerStrokeGradientStopColor]="'#53a9ff'"
            [innerStrokeColor]="'#e7e8ea'"
            [animation]="true"
            [animationDuration]="800"
            [innerStrokeWidth]= 10
            [showSubtitle]=false
            [animationDuration]= 1000
            [showUnits]= false
            [showBackground]= false
            [clockwise]= false
            [startFromZero]= false
            [lazy]= false
        ></circle-progress>
        </div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [showImage]="true"
            [imageSrc]="'/assets/angular-brands.svg'"
            [imageHeight]="80"
            [imageWidth]="70"
            [outerStrokeGradient]= true
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#4882c2'"
            [outerStrokeGradientStopColor]="'#53a9ff'"
            [innerStrokeColor]="'#e7e8ea'"
            [animation]="true"
            [animationDuration]="800"
            [innerStrokeWidth]= 10
            [showSubtitle]=false
            [animationDuration]= 1000
            [showUnits]= false
            [showBackground]= false
            [clockwise]= false
            [startFromZero]= false
            [lazy]= false
        ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [showImage]="true"
            [imageSrc]="'/assets/eng.png'"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeGradient]= true
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#4882c2'"
            [outerStrokeGradientStopColor]="'#53a9ff'"
            [innerStrokeColor]="'#e7e8ea'"
            [animation]="true"
            [animationDuration]="800"
            [innerStrokeWidth]= 10
            [showSubtitle]=false
            [animationDuration]= 1000
            [showUnits]= false
            [showBackground]= false
            [clockwise]= false
            [startFromZero]= false
            [lazy]= false
        ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [showImage]="true"
            [imageSrc]="'/assets/grupal.png'"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeGradient]= true
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#4882c2'"
            [outerStrokeGradientStopColor]="'#53a9ff'"
            [innerStrokeColor]="'#e7e8ea'"
            [animation]="true"
            [animationDuration]="800"
            [innerStrokeWidth]= 10
            [showSubtitle]=false
            [animationDuration]= 1000
            [showUnits]= false
            [showBackground]= false
            [clockwise]= false
            [startFromZero]= false
            [lazy]= false
        ></circle-progress>
        </div>        
</div>
