<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/profile_pic.jpg" class="img-fluid" id="profile_pic" alt="">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Juan Manuel Barreiro</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat qui commodi tempore unde fuga minus ratione a! Cumque sunt esse expedita ullam in qui, minus consectetur consequatur neque, velit perferendis?</p>
        </span>
    </div>
</div>