.row{
    padding: 20pt;
}

div{
    background-color: rgba(201,221,254,255);
    text-align: center;
}

#nombre{
    font-weight: bold;
    margin-top: 10%;
}

@media (min-width: 576px){
        #profile_pic{
            position: absolute;
            width: 15%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px rgb(grey);
            left: 3%;
            top: px;
        }
}

